.pfcs_0f6948f6
{
background-color:var(--white);



border:0px solid transparent;
display:inline;color: var(--neutralDark);
font-size:0.6em;
text-align:left;
font-style:normal;
}

.pfcs_445bb1be
{
background-color:var(--white);



border:0px solid transparent;
display:inline;color: var(--neutralDark);
font-size:1em;
text-align:left;
font-style:normal;
}

